::selection {
    color: white;
    background: #9c27b0;
}

::-moz-selection {
    color: white;
    background: #9c27b0;
}

a,
a:link,
a:hover,
a:visited {
    color: #9c27b0;
    font-weight: 700;
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.flex-dir-col {
    flex-direction: column;
}
